<% provide(:title, "Log in") %>
<center><h1>Welcome to NCSU Libraries</h1></center>

<div class="row" style="background-color:transparent;">
  <div class="col-md-6 col-md-offset-3" style="margin-left:25%;margin-right:25%;float:left;width:50%;text-align:center;background-color:transoarent;">
    <%= form_for(:session, url: login_path) do |f| %><br>

       <strong><%= f.label :email %></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%= f.email_field :email%><br><br>

        <strong><%= f.label :password %></strong>&nbsp;
        <%= f.password_field :password%><br><br>

        <%= f.submit "Log in", class: "btn btn-primary" %><br>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>
