<script
src="https://code.jquery.com/jquery-3.1.1.js"
integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
crossorigin="anonymous"></script>
<br>
<div id="header">
  <h3>Welcome <%= current_user.name %></h3>
</div>

<%= nav_bar fixed: :top, responsive: true do %>
    <%= menu_group do %>
        <%= menu_item "Manage Reservations", '/admin/home' %>
        <%= menu_item "Manage Users/Admins" , "/users/" %>
        <%= menu_item "Manage Rooms", "/rooms/" %>
        <%= menu_item "Reserve for Member", "reserve_room_for_user" %>
    <% end %>

    <%= menu_group pull: :right do %>
        <%= menu_item "Edit Profile", "/profile/"+ current_user.id.to_s %>
        <%= menu_item "Log Out", "/logout" %>
    <% end %>

<% end %>

<br><br>

<h2>Manage Reservations</h2><br>

<table class="table table-bordered table-striped displays" id="roomtable">
  <thead>
  <tr>
    <th>Booking date</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Status</th>
    <th>Room</th>
    <th>User</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.booking_date %></td>
        <td><%= reservation.start_time %></td>
        <td><%= reservation.end_time %></td>
        <td><%= reservation.status %></td>
        <td><%= Room.find(reservation.room_id).number %></td>
        <td><%= User.find(reservation.user_id).name %></td>
        <td><%= link_to 'Show', reservation %></td>
        <td><%= link_to 'Release','/reservation/release/'+reservation.id.to_s  %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>


</div>
</div>

<script>
  $(document).ready(function() {
    $('#roomtable').dataTable();
  });
</script>