<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <font size="3"><strong><%= f.label :name %></font></strong><br>
    <%= f.text_field :name %><br><br>


    <font size="3"><strong><%= f.label :email %></strong></font><br>
    <%= f.text_field :email %><br><br>

    <font size="3"><strong><%= f.label :role  %></strong></font><br>
    <%= f.select :role, ['admin','user'] %><br><br>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>