<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>

<%= nav_bar fixed: :top, brand: 'NCSU Libraries', responsive: true do %>
    <%= menu_group do %>
        <%= menu_item "Home", '/admin/home' %>
        <%= menu_item "Manage Users/Admins" , "/users/" %>
        <%= menu_item "Manage Rooms", "/rooms/" %>
        <%= menu_item "Search Rooms" %>
        <%= menu_item "My Bookings" %>
    <% end %>

    <%= menu_group pull: :right do %>
        <%= menu_item "Edit Profile", "/profile/"+ current_user.id.to_s %>
        <%= menu_item "Log Out", "/logout" %>
    <% end %>

<% end %>
<br><br>




<h2>Manage Users / Admins</h2><br>


<table id="usertable" class="table table-bordered table-striped displays">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', '/users/destroy/'+user.id.to_s %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin', '/new_admin' %>


<script>
  $(document).ready(function() {
    $('#usertable').dataTable();
  });
</script>