<div class="row" style="background-color:transparent;">
  <div class="col-md-6 col-md-offset-3" style="margin-left:40%;border: 2px solid black; padding: 10px 10px 10px 10px; border-radius: 5px; margin-right:40%;float:left;width:20%;background-color:   transparent ;">

    <font size="3"><p id="notice" style="font-weight: bold;"><%= notice %></font></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
    <p>
      <strong>Role:</strong>
      <%= @user.role %>
    </p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', '/users' %>
    </div>
  </div>