<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :booking_date %><br>
    <%= f.date_select :booking_date %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.text_field :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br>
    <%= f.text_field :end_time %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
    <div class="field">
      <%= f.label :user %><br />
      <%= select("reservation", "user_id", User.find(:all).collect{ |c| [ c.name, c.id] }) %>
    </div>
    <div class="field">
      <%= f.label :room %><br />
      <%= select("reservation", "room_id", Room.find(:all).collect{ |c| [ c.number, c.id] }) %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
