<div class="row" style="background-color:transparent;">
<div class="col-md-6 col-md-offset-3" style="margin-left:25%;margin-right:25%;float:left;width:50%;text-align:center;background-color:transoarent;">
<h1>Listing reservations</h1>

<table>
  <thead>
    <tr>
      <th>Booking date</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Status</th>
      <th>Rooom</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.booking_date %></td>
        <td><%= reservation.start_time %></td>
        <td><%= reservation.end_time %></td>
        <td><%= reservation.status %></td>
        <td><%= reservation.room_id %></td>
        <td><%= reservation.user_id %></td>
        <td><%= link_to 'Show', reservation %></td>
        <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
        <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservation', new_reservation_path %>
  </div>
</div>
