

<%= form_for(Reservation.new, url:'/reserve') do |f| %>
    <div class="row" style="background-color:transparent;">
      <div class="col-md-6 col-md-offset-3" style="margin-left:40%;margin-right:40%;float:left;width:20%;background-color:transoarent;">      
<center><h1>Search Results</h1></center><br>

  <font size="3"><strong>Booking Date</strong></font><br>
    <%= f.text_field :booking_date, value: params[:booking_date] %><br><br>

        <font size="3"><strong>Start Time</strong></font><br>
    <%= f.text_field :start_time, value: params[:start] %><br><br>

        <font size="3"><strong>End Time</strong></font><br>
    <%= f.text_field :end_time, value: params[:end] %><br><br>

        <font size="3"><strong>Size</strong></font><br>
    <%= f.text_field :size, value: params[:size] %><br><br><br>



<center><font size="3"><strong> Available Rooms </strong></font></center><br>

   <center> <select name="room" >
      <% @rooms.each do |room| %>
          <option value="<%= room.id %>"><%= room.number %></option>
      <% end %>
    </select></center><br>

<div class="actions">
<center><%=  f.submit %></center>
    </div>
<br><br>
        <center><%= link_to 'Back',  '/'+User.find(current_user.id).role + '/home' %></center>

<% end %>
</div></div>

<style>
select{
  width:80%;
}

</style>
