<%= form_for(@room) do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% @room.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :building %><br>
      <%= f.select :building, ['James B. Hunt Jr. Library', 'D. H. Hill Library'] %>
    </div>
    <div class="field">
      <%= f.label :number %><br>
      <%= f.text_field :number %>
    </div>
    <div class="field">
      <%= f.label :size %><br>
      <%= f.select :size,['4 Chairs (Small)','6 Chairs (Medium)','8 Chairs (Large)'] %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>