
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>



<%= nav_bar fixed: :top, responsive: true do %>
    <%= menu_group do %>
        <%= menu_item "Manage Reservations", '/admin/home' %>
        <%= menu_item "Manage Users/Admins" , "/users/" %>
        <%= menu_item "Manage Rooms", "/rooms/" %>
        <%= menu_item "Reserve for Member", "../admin/reserve_room_for_user" %>
    <% end %>

    <%= menu_group pull: :right do %>
        <%= menu_item "Edit Profile", "/profile/"+ current_user.id.to_s %>
        <%= menu_item "Log Out", "/logout" %>
    <% end %>

<% end %>

<br>
<h2>Information for <%= @room.number %> </h2>

<p>
  <strong>Building:</strong>
  <%= @room.building %>
</p>

<p>
  <strong>Size:</strong>
  <%= @room.size %>
</p>
<br>

<h2>Schedule</h2>
<br>

<table class="table table-striped table-bordered" id="roomschedule">
  <thead>
  <tr>
    <th>Date</th>
    <th>Time Slot</th>
    <th>Reservee</th>
  </tr>
  </thead>

  <tbody>
  <% @room_schedule.each do |history| %>
      <tr>
        <td><%= history.booking_date %></td>
        <td><%= history.start_time.to_s + ' to ' + history.end_time.to_s %></td>
        <td><%= User.find(history.user_id).name %></td>
      </tr>
  <% end %>
  </tbody>
</table>




<h2>Reservation History</h2>
<br>


<table class="table table-striped table-bordered" id="history">
  <thead>
  <tr>
    <th>Date</th>
    <th>Time Slot</th>
    <th>Reservee</th>
  </tr>
  </thead>

  <tbody>
  <% @room_history.each do |history| %>
      <tr>
        <td><%= history.booking_date %></td>
        <td><%= history.start_time.to_s + ' to ' + history.end_time.to_s %></td>
        <td><%= User.find(history.user_id).name %></td>
      </tr>
  <% end %>
  </tbody>
</table>


<script>
  $(document).ready(function() {
    $('#roomschedule').dataTable();
    $('#history').dataTable();
  });
</script>


<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>


